@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,800&family=Ubuntu:ital,wght@1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar {
  margin: 0px auto;
  padding: 1px 0px;
  background-color: #eb7599;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-items {
  flex-basis: 50%;
}

.left {
  flex-basis: 50%;
  text-align: left;
  margin-left: 25px;
}
.left span{
  color: rgb(126, 111, 114);
  font-family: monospace;
}
.right {
  display: flex;

  justify-content: center;
}
.left > a {
  font-size: 30px;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-family: monospace;
}

.right > li {
  padding: 10px;
  list-style-type: none;
}

li > a {
  color: #ffffff;

  text-decoration: none;
}

/* .max-width{
    max-width: 1300px;
    padding: 0 90px;
    max-width: auto;
} */
/* .navbar {
  position: fixed;
  width: 100%;
  height: 55px;
  padding: 0 30px;
  font-family: sans-serif;
  transition: all 0.3s ease;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: azure;
  font-size: 36px;
  font-weight: 500;
}
.navbar .logo a span {
  color: crimson;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  margin: 0 10px;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  transition: color 0.5s ease;
}
.navbar .menu li a:hover {
  color: rgb(155, 30, 30);
} */

/* Home Section */

.home {
  background-image: url("https://raw.githubusercontent.com/nivyaraj26/Portfolio/master/nivya.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
  min-height: 500px;
}

.details {
  display: flex;
  flex-direction: row;
  height: inherit;
  width: 50%;
  align-items: center;
  padding-left: 20%;
}

.name h1 {
  font-size: 40px;
  
}
.name h2{
  font-family: cursive;
  font-size: 25px;
}
.name{
  padding: 20px;
}
.name span {
  color: #a01a3c;
  font-family: cursive;
}
/* .home .max-width {
  margin: auto 0 auto 40px;
} */
/* .home .home-content .text-1 {
  font-size: 26px;
} */
/* .home .home-content .text-3 {
  font-size: 38px;
  margin: 5px 0;
  font-family: cursive;
} */
/* .home .home-content .text-3 span {
  color: rgb(226, 43, 98);
  font-weight: 500;
} */

.profile {
  display: flex;
  align-items: center;
  background:  black;
}
.profile img {
  border-radius: 100%;
  margin: 30px;
  width: 250px;
  height: 250px;
}
.about {
  width: 80%;
  height: 330px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #f1c4d2;
  border-radius: 15px 50px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0, 2);
  display: flex;
  justify-content: center;
  margin: -7% auto 20px auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.about-text {
  padding: 30px;
  color: rgb(250, 202, 202);
}
.about-text h1{
  text-align: center;
  color: rgb(233, 180, 180);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
  text-decoration: underline;
}

.about-text .quote {
  margin-top: 20px;
  text-align: left;
  font-family: "Pacifico", cursive;
}
.Aspirations{
    background: url("../assets/images/nm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;
  }

.goal{
  width: 80%;
  height: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: white;
}
.goal h2{

  text-align: center;
  text-decoration: underline;
  color: rgb(66, 14, 14);
  padding-top: 5px;
  margin-top: -30px;
  margin-left: 100px;

}
.goal p{
  text-align: center;
  margin-left: 105px;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .box{
  position: relative;
  width: 350px;
  padding: 40px;
  background: #fac9d8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.container .box:hover .content{
  color: rgb(243, 239, 231);
}
.container .box .content h3{
  font-size: 20px;
  margin: 10px 0;
  padding: 0;
  text-decoration: underline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container .box .content p{
  margin: 0;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project h2{
  text-align: center;
  font-family: monospace;
  text-decoration: underline;
}
.project{
  background: #f8eaee;
}
.git img{
   margin-left: 500px;
}
.git{
  background: black;

}
.foot{
  background: black;
}
.foot a{
  color: #f1c4d2;
  font-size: 15px;
  margin-left: 480px;
}
