@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,300;1,800&family=Ubuntu:ital,wght@1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 90px;
    max-width: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 55px;
    padding: 0 30px;
    font-family: sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: azure;
    font-size: 36px;
    font-weight: 500;
}
.navbar .logo a span{
    color: crimson;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    margin: 0 10px;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    transition: color 0.5s ease;
}
.navbar .menu li a:hover{
    color: rgb(155, 30, 30);
}
.home{
    display: flex;
    background: url("nivya.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 26px;
}
.home .home-content .text-3{
    font-size: 38px;
    margin: 5px 0;
    font-family: cursive;
}
.home .home-content .text-3 span{
    color: rgb(226, 43, 98);
    font-weight: 500;
}
.about{
    width: 80%;
    height: 330px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(230, 225, 225);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
}
.about .img{
    margin-top: 5px;
    padding-top: 5px;
}
